/* some style */

#main {
  display: flex;
  flex-direction: column;
  font-family: helvetica;
}

#controls {
  margin-top: 30px;
  align-self: center;
  display: flex;
}

#controls input {
  border-radius: 10px;
  color: #333;
  outline: none;
  font-weight: bold;
  padding: 12px 20px;
}

#controls input.btn {
  cursor: pointer;
  border: 1px solid white;
  margin-right: 10px;
}

#controls input.field {
}

#word {
  align-self: center;
  display: flex;
  font-size: 100px;
  font-weight: bold;
  text-transform: lowercase;
}

#word a {
  color: #333;
  display: flex;
  flex-direction: column;
  line-height: .75;
  margin-top: 20px;
  text-decoration: none;
}

#word p {
  margin: 0;
}

#word span {
  align-self: center;
  font-size: 15px;
}

#word ul {
  font-size: 30px;
  line-height: .75;
  list-style: none;
  margin: 20px 0 0;
  padding: 0;
}

#chakras {
  align-self: center;
  display: flex;
  margin: 30px 0;
  border-radius: 260px;
}

#chakras ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  height: 520px;
  margin: 0;
  padding: 0;
  position: relative;
  width: 520px;
}

.chakra {
  align-items: center;
  border: 16px solid white;
  border-radius: 66px;
  color: #333;
  cursor: pointer;
  display: flex;
  height: 100px;
  justify-content:center;
  list-style: none;
  text-align: center;
  text-transform: uppercase;
  width: 100px;
  position: absolute;
  top: 0;
}

.chakra.active {
  border: 16px solid #bbb;
  font-weight: bold;
  z-index: 1;
}

#chakra-3 {
  /* root */
}

#chakra-4 {
  /* sacral */
  top: 46px;
  left: 319px;
}

#chakra-5 {
  /* solar plexus */
  top: 161px;
  left: 385px;
}

#chakra-6 {
  /* heart */
  top: 292px;
  left: 362px;
}

#chakra-7 {
  /* throat */
  top: 376px;
  left: 260px;
}

#chakra-8 {
  /* 3rd eye */
  top: 376px;
  right: 260px;
}

#chakra-9 {
  /* crown */
  top: 292px;
  right: 362px;
}

#chakra-1 {
  /* earth star */
  top: 161px;
  right: 385px;
}

#chakra-2 {
  /* foot */
  top: 46px;
  right: 319px;
}
