/* some style */

#main {
  display: flex;
  flex-direction: column;
  font-family: helvetica;
}

#word {
  align-self: center;
  display: flex;
  font-size: 100px;
  font-weight: bold;
  text-transform: lowercase;
}

#word a {
  color: #333;
  display: flex;
  flex-direction: column;
  line-height: .75;
  margin-top: 20px;
  text-decoration: none;
}

#word p {
  margin: 0;
}

#word span {
  align-self: center;
  font-size: 15px;
}

#word ul {
  font-size: 30px;
  line-height: .75;
  list-style: none;
  margin: 20px 0 0;
  padding: 0;
}

#chakras {
  align-self: center;
  border-radius: 77px;
  display: flex;
  margin: 30px 0;
  padding: 16px;
}

#chakras ul {
  display: flex;
  flex-direction: column;
  justify-content:center;
  margin: 0;
  padding: 0;
}

.chakra {
  align-items: center;
  border: 16px solid white;
  border-radius: 66px;
  color: #333;
  cursor: pointer;
  display: flex;
  height: 100px;
  justify-content:center;
  list-style: none;
  margin: -1px;
  text-align: center;
  text-transform: uppercase;
  width: 100px;
}

.chakra.active {
  border: 16px solid #aaa;
  font-weight: bold;
  z-index: 1;
}

#controls {
  align-self: center;
  display: flex;
}

#controls input {
  border-radius: 10px;
  color: #333;
  outline: none;
  font-weight: bold;
  padding: 12px 20px;
}

#controls input.btn {
  cursor: pointer;
  border: 1px solid white;
}

#controls input.field {
  border: 1px solid #333;
}
