/* some style */

#main {
  display: flex;
  flex-direction: column;
  font-family: helvetica;
}

#word {
  color: #333;
  font-size: 100px;
  font-weight: bold;
  display: flex;
  text-transform: lowercase;
  align-self: center;
}

#word p {
  margin: 0;

}

#word ul {
  list-style: none;
  font-size: 30px;
  padding: 0;
  margin: 20px 0 0;
  line-height: .75;
}

#word li {
}

#chakras {
  align-self: center;
  display: flex;
  border-radius: 77px;
  padding: 16px;
  margin: 30px 0;
}

#chakras ul {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  justify-content:center;
}

.chakra {
  border: 16px solid white;
  color: #333;
  text-transform: uppercase;
  text-align: center;
  align-items: center;
  list-style: none;
  /* cursor: pointer; */
  display: flex;
  width: 100px;
  height: 100px;
  border-radius: 66px;
  margin: -2px;
  justify-content:center;
}

.chakra.active {
}

#chakra-1.active, #chakra-5.active {
}

#controls {
  display: flex;
  align-self: center;
}

#controls input {
  cursor: pointer;
  border: none;
  padding: 12px 20px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: white;
  outline: none;
  background-color: #eee;
}

#meta-data {
  align-self: center;
  background-color: #eee;
  border: 1px solid black;
  border-radius: 10px;
}

#meta-data ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 12px 20px;
}

#meta-data ul li {
  padding: 5px;
}
