/* some style */

#main {
  display: flex;
  flex-direction: column;
  font-family: helvetica;
}

#controls {
  margin-top: 30px;
  align-self: center;
  display: flex;
}

#controls input {
  border-radius: 10px;
  color: #333;
  outline: none;
  font-weight: bold;
  padding: 12px 20px;
}

#controls input.btn {
  cursor: pointer;
  border: 1px solid white;
  margin: 0 10px;
  height: 20px;
  text-decoration: none;
}

#controls input.field {
}

#word {
  align-self: center;
  display: flex;
  font-size: 50px;
  font-weight: bold;
  text-transform: lowercase;
  flex-direction: column;
}

#word a {
  color: #333;
  display: flex;
  flex-direction: column;
  line-height: .75;
  margin-top: 20px;
  text-decoration: none;
}

#word p {
  margin: 0;
}

#word span {
  align-self: center;
  font-size: 15px;
}

#word ul {
  font-size: 24px;
  line-height: .75;
  list-style: none;
  margin: 20px 0 0;
  padding: 0;
}

#chakras {
  align-self: center;
  display: flex;
  margin: 30px 0;
  border-radius: 260px;
}

#chakras ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  margin: 0;
  padding: 0;
}

.chakra {
  align-items: center;
  border: 12px solid white;
  border-radius: 66px;
  color: #333;
  cursor: pointer;
  display: flex;
  height: 80px;
  justify-content:center;
  list-style: none;
  text-align: center;
  text-transform: uppercase;
  width: 80px;
  top: 0;
}

.chakra.active {
  border: 12px solid #bbb;
  font-weight: bold;
  z-index: 1;
}

@media screen and (min-width: 720px) {
  #word {
    font-size: 100px;
    flex-direction: row;
  }

  #word ul {
    font-size: 30px;
  }

  #chakras ul {
    height: 520px;
    position: relative;
    width: 520px;
  }

  .chakra {
    border: 16px solid white;
    position: absolute;
    height: 100px;
    width: 100px;
  }

  .chakra.active {
    border: 16px solid #bbb;
  }

  #chakra-3 {
    /* root */
    left: 0;
    right: 0;
    margin: auto;
  }

  #chakra-4 {
    /* sacral */
    top: 46px;
    left: 319px;
  }

  #chakra-5 {
    /* solar plexus */
    top: 161px;
    left: 385px;
  }

  #chakra-6 {
    /* heart */
    top: 292px;
    left: 362px;
  }

  #chakra-7 {
    /* throat */
    top: 376px;
    left: 260px;
  }

  #chakra-8 {
    /* 3rd eye */
    top: 376px;
    right: 260px;
  }

  #chakra-9 {
    /* crown */
    top: 292px;
    right: 362px;
  }

  #chakra-1 {
    /* earth star */
    top: 161px;
    right: 385px;
  }

  #chakra-2 {
    /* foot */
    top: 46px;
    right: 319px;
  }
}
